<a href="/menu_pt" class="volver">
    ← Voltar
</a>

<h1>🥟 Entradas</h1>

<!-- EMPANADAS -->

<div class="card-comida">

    <img src="/static/comidas/empanadas.jpg" onclick="abrirImagen(this.src)">

    <div class="info">

        <h3>Empanadas Regionais</h3>

        <p>
            Empanadas típicas de Jujuy recheadas com carne,
            queijo e queijo de cabra, temperadas com especiarias tradicionais.
        </p>

        <h4>$2200</h4>

    </div>

</div>

<!-- HUMITAS -->

<div class="card-comida">

    <img src="/static/comidas/humita.jpg" onclick="abrirImagen(this.src)">

    <div class="info">

        <h3>Humitas</h3>

        <p>
            Humitas de milho macio
            recheadas com queijo de cabra regional.
        </p>

        <h4>$8500</h4>

    </div>

</div>

<!-- TAMAL -->

<div class="card-comida">

    <img src="/static/comidas/tamal.jpg" onclick="abrirImagen(this.src)">

    <div class="info">

        <h3>Tamal</h3>

        <p>
            Tamal artesanal recheado com carne,
            legumes e especiarias do norte da Argentina.
        </p>

        <h4>$8000</h4>

    </div>

</div>

<!-- PAPINES -->

<div class="card-comida">

    <img src="/static/comidas/papines.jpg" onclick="abrirImagen(this.src)">

    <div class="info">

        <h3>Batatas Andinas</h3>

        <p>
            Batatas andinas salteadas com alecrim
            acompanhadas de queijo de cabra.
        </p>

        <h4>$9500</h4>

    </div>

</div>